


#kortitkuvat img{
    height: 130px;
    width: 100px;
    margin: 1px;

}
#voittoteksti2{
    text-align: left;
}

#voittotaulukko{
    text-align: right;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 200px;
}

.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.content {
          max-width: 500px;
          margin: auto;
}
